dist: trusty
sudo: false

language: go
go:
 - 1.5.3

branches:
  only:
    - master

before_script:
  - mkdir $GOPATH/src/sample ; cp src/sample.go $GOPATH/src/sample

script:
  - go build sample

after_script:
  - $GOPATH/bin/sample &
  - curl localhost:8080
