dist: trusty
sudo: false

language: go
go:
 - 1.5.3

branches:
  only:
    - master

before_script:
  - mkdir $GOPATH/src/sample ; cp src/sample.go $GOPATH/src/sample

script:
  - go install sample

after_script:
  - $GOPATH/bin/sample &
  - curl localhost:8080

deploy:
  provider: releases
  api_key: "baf14d31ad4f5c95d58a1ed0c13321ebb1370512"
  file: "$GOPATH/bin/sample"
  skip_cleanup: true
  on:
    tags: true
